@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

a, ul, li, button, ol, input {
    text-decoration: none;
    background: none;
    list-style: none;
    border: none;
    outline: none;
}

a, button {
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-alert {
    padding: 1.2rem;
    border-radius: 10px;
    position: fixed;
    left: 12%;
    width: 250px;
    bottom: 12%;
    background-color: rgb(72, 72, 99);
}

.form-success {
    color: rgb(1, 157, 1);
    font-size: .7rem;
}

.form-error {
    color: rgb(174, 2, 2);
    font-size: .7rem;
}
